.ContactData{
    margin:20px 0;
    width:80%;
    text-align: center;
    margin: auto;
}
.Input{
    display:block;
    margin: auto

}
@media(min-width: 600px)
{
    .ContactData{
        width:500px
    }
}